{% extends "base.html" %}
{% block content %}
<h3>Create new dataset</h3>

<form action="" method="post" name="create" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <table class="table" width="100%">
        <col style="width:45%">
        <col style="width:10%">
        <col style="width:45%">
        <tr>
            <td style="vertical-align:top">
                <div class="form-group">
                    <label>Name</label>
                    {{ form.name(class="form-control",
                    placeholder="enter a unique name to identify the dataset")}}
                </div>
                <div class="form-group">
                    <label>Domain classification</label>
                    {{ form.domain(class="form-control",
                    placeholder="enter a domain classification eventually separated with /")}}
                </div>
                <div class="form-group">
                    <label>Description</label>
                    {{ form.description(class="form-control", rows=3,
                    placeholder="enter the objective of this dataset and the meaning of data")}}
                </div>
                <div class="form-group">
                    <label>Source</label>
                    {{ form.source(class="form-control",
                    placeholder="origin or source of the dataset")}}
                </div>
                </div>
                <div class="form-group">
                    <label>URL</label>
                    {{ form.url(class="form-control",
                    placeholder="url of the description dataset")}}
                </div>
                <div class="form-group">
                    <label>Problem type</label>
                    {{ form.problem_type(class="form-control")}}
                </div>
                <div class="form-group">
                    <label>Metric</label>
                    {{ form.metric(class="form-control")}}
                </div>
                <div class="form-group">
                    <label>Other metrics</label>
                    {{ form.other_metrics(class="form-control",
                    placeholder="enter other metrics separated by comma")}}
                </div>
            </td>
            <td></td>
            <td style="vertical-align:top">
                <div class="form-group">
                    <label>Mode</label>
                    {{ form.mode(class="form-control", **{"onchange":"changeMode(this.value)"}) }}
                </div>
                <div class="form-group">
                    <label>Data access mode</label>
                    {{ form.mode_file(class="form-control", **{"onchange":"changeModeFile(this.value)"}) }}
                </div>
                <div class="form-group">
                    <label>Columns file</label>
                    <div id="div_filename_cols">
                        {{ form.filename_cols(class="form-control",
                        placeholder="optional file with description of the columns")}}
                    </div>
                    <div id="div_file_cols">
                        {{ form.file_cols(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Train set file</label>
                    <div id="div_filename_train">
                        {{ form.filename_train(class="form-control",
                        placeholder="data file for training and evaluation") }}
                    </div>
                    <div id="div_file_train">
                        {{ form.file_train(class="form-control") }}
                    </div>
                </div>
                <div class="form-group" id="test_group">
                    <label>Test set file</label>
                    <div id="div_filename_test">
                        {{ form.filename_test(class="form-control",
                        placeholder="test file in benchmark mode") }}
                    </div>
                    <div id="div_file_test">
                        {{ form.file_test(class="form-control") }}
                    </div>
                </div>
                <div id="submit_group">
                    <div class="form-group">
                        <label>Submit set file</label>
                        <div id="div_filename_submit">
                            {{ form.filename_submit(class="form-control",
                            placeholder="submit file in competition mode")}}
                        </div>
                        <div id="div_file_submit">
                            {{ form.file_submit(class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Submit column</label>
                        {{ form.col_submit(class="form-control",
                        placeholder="name of the id column for the submit file")}}
                    </div>
                </div>
                <div class="form-group">
                    <label>Folds cv</label>
                    {{ form.cv_folds(class="form-control")}}
                </div>
                <div class="form-group">
                    <label>Holdout %</label>
                    {{ form.holdout_ratio(class="form-control")}}
                </div>
                <div class="form-group">
                    <label>Y column</label>
                    {{ form.y_col(class="form-control",
                    placeholder="name of the target columns")}}
                </div>
                <div class="form-group">
                    <label>Validation column</label>
                    {{ form.val_col(class="form-control")}}
                </div>
                <div class="form-group">
                    <label>{{ form.val_col_shuffle(class="check-box-inline")}} Shuffle valid col</label>
                </div>
                <div class="form-group">
                    <label>{{ form.sampling(class="check-box-inline")}} Use re-sampling</label>
                </div>
                <div style="height:50px"></div>
                <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                    <div class="container" style="padding:5px">
                        <button type="submit" class="btn btn-default" style="float:right;">Save</button>
                    </div>
                </nav>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function changeMode(sel) {
        if(sel=="competition") {
            jQuery("#test_group").hide();
            jQuery("#submit_group").show();
        } else if(sel=="benchmark") {
            jQuery("#test_group").show();
            jQuery("#submit_group").hide();
        } else {
            jQuery("#test_group").hide();
            jQuery("#submit_group").hide();
        }
    }

    function changeModeFile(sel) {
        if(sel=="upload") {
            jQuery("#div_filename_cols").hide();
            jQuery("#div_file_cols").show();
            jQuery("#div_filename_train").hide();
            jQuery("#div_file_train").show();
            jQuery("#div_filename_test").hide();
            jQuery("#div_file_test").show();
            jQuery("#div_filename_submit").hide();
            jQuery("#div_file_submit").show();
        } else {
            jQuery("#div_filename_cols").show();
            jQuery("#div_file_cols").hide();
            jQuery("#div_filename_train").show();
            jQuery("#div_file_train").hide();
            jQuery("#div_filename_test").show();
            jQuery("#div_file_test").hide();
            jQuery("#div_filename_submit").show();
            jQuery("#div_file_submit").hide();
        }
    }


</script>

<script type="text/javascript">
    window.onload = changeMode("{{form.mode.data}}")
    window.onload = changeModeFile("{{form.mode_file.data}}")


</script>

{% endblock %}
