{% extends "base.html" %}
{% block content %}
<br>
<table width="100%">
    <tr>
        <td style="vertical-align:center; width:60%;">
            <h3>Datasets</h3>
        </td>
        <td style="vertical-align:bottom; width:40%;">
            <form role="form" action="" method="POST" name="domain" enctype="multipart/form-data">
                {{ sel_form.hidden_tag() }}
                <div class="form-group" style="height:70%;">
                    {{ sel_form.domain(class="form-control", **{"onchange":"submit(this)"}) }}
                </div>
            </form>
        </td>
    </tr>
</table>

<table class="table table-bordered table-hover">
    <thead>
    <th>name</th>
    <th>Id</th>
    <th>status</th>
    <th><i class="fa fa-play" aria-hidden="true"></i></th>
    <th>#</th>
    <th colspan="2">best result</th>
    <th>description</th>
    <th colspan="4">actions</th>
    </thead>
    {% for domain in domains %}
    <tr>
        <td colspan="12"><h4><i class="fa fa-folder-open-o" aria-hidden="true"></i>&nbsp;&nbsp;{{domain}}</h4></td>
    </tr>
    {% for dataset in datasets %}
    {% if dataset.domain == domain %}
    <tr>
        <td>
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{dataset.name}}</a><br>
        </td>
        <td>
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{dataset.dataset_id}}</a><br>
        </td>
        <td>
            <div class="progress" style="height:8px">
                {% if dataset.status == 'completed' %}
                <div class="progress-bar progress-bar-success" role="progressbar"
                     style="width:100%">
                </div>
                {% else %}
                <div class="progress-bar progress-bar-success" role="progressbar"
                     style="width:{{dataset.results / 5 }}%">
                </div>
                {% endif %}
            </div>
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">
                {% if dataset.status == 'created' %}
                <span class="label label-default">created</span>
                {% elif dataset.status == 'searching' %}
                <span class="label label-warning">searching</span>
                {% elif dataset.status == 'pause' %}
                <span class="label label-info">pause</span>
                {% else %}
                <span class="label label-success">completed</span>
                {% endif %}
            </a>
        </td>
        <td>
            {% if dataset.status in ['created', 'pause', 'completed'] %}
            <span data-toggle="tooltip" data-placement="left" title="start search">
                <a href="/start/{{dataset.dataset_id}}"><i class="fa fa-play" aria-hidden="true"></i></a></span>
            {% elif dataset.status == 'searching' %}
            <span data-toggle="tooltip" data-placement="left" title="pause search">
                <a href="/pause/{{dataset.dataset_id}}"><i class="fa fa-pause" aria-hidden="true"></i></a></span>
            {% endif %}
        </td>
        <td>
            <span class="label label-info" data-toggle="tooltip" data-placement="left" title="successful rounds">{{ dataset.results }}</span>
            <br><span class="label label-default" data-toggle="tooltip" data-placement="left" title="total rounds">{{ dataset.round_counter }}</span>
        </td>
        <td>
            {% if dataset.status != 'created' %}
            <a href="/dataset/{{dataset.dataset_id}}" style="text-decoration: none;">{{ dataset.best_model_name }}</a>
            {% endif %}
        </td>
        <td>
            {% if dataset.status != 'created' %}
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{print_score(dataset.best_cv_mean) }}<br>+/-{{ print_score_std(dataset.best_cv_std) }}<br>
                {{print_score(dataset.best_cv_max) }}</a>
            {% endif %}
        </td>
        <td>
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{ dataset.problem_type }}<br>{{ print_summary(dataset) }}</a>
        </td>
        <td>
            <span data-toggle="tooltip" data-placement="left" title="edit dataset">
                <a href="/update/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;"><i
                        class="fa fa-pencil-square-o"></i></a></span>
        </td>
        <td>
            <span data-toggle="tooltip" data-placement="left" title="duplicate dataset">
                <a href="/duplicate/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;"><i
                        class="fa fa-files-o"></i></a></span>
        </td>
        <td>
            <span data-toggle="tooltip" data-placement="left" title="reset search results"><a href="#ResetModal"
                                                                                              class="open_ResetModal"
                                                                                              style="color:inherit; text-decoration: none;"
                                                                                              data-toggle="modal"
                                                                                              data-target="#ResetModal"
                                                                                              data-id="{{dataset.dataset_id}}"
                                                                                              data-name="{{dataset.name}}"
                                                                                              data-description="{{dataset.description}}">
                <i class="fa fa-undo" aria-hidden="true"></i></a></span>
        </td>
        <td>
            <span data-toggle="tooltip" data-placement="left" title="delete dataset"><a href="#DeleteModal"
                                                                                        class="open_DeleteModal"
                                                                                        style="color:inherit; text-decoration: none;"
                                                                                        data-toggle="modal"
                                                                                        data-target="#DeleteModal"
                                                                                        data-id="{{dataset.dataset_id}}"
                                                                                        data-name="{{dataset.name}}"
                                                                                        data-description="{{dataset.description}}">
                <i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
</table>

<script type="text/javascript">
$(document).on("click", ".open_DeleteModal", function() {
$(".modal-body #id").val($(this).data('id'));
$(".modal-body #name").val($(this).data('name'));
$(".modal-body #description").val($(this).data('description'));
});

$(document).on("click", ".open_ResetModal", function() {
$(".modal-body #reset_id").val($(this).data('id'));
$(".modal-body #reset_name").val($(this).data('name'));
$(".modal-body #reset_description").val($(this).data('description'));
});


</script>

<div class="modal fade" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this dataset ?</h4>
            </div>
            <form role="form" action="/delete" method="POST" name="request" enctype="multipart/form-data">
                {{ del_form.hidden_tag() }}
                <div class="modal-body">
                    <div class="form-group">
                        <label>Id</label>
                        <input class="form-control" type="text" name="id" id="id" readonly>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" name="name" id="name" readonly>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" id="description" rows="3" readonly></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_default" data-dismiss="modal">Cancel</button>
                    {{ del_form.submit }}
                    <input type="submit" class="btn btn_primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ResetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to reset ? This will erase all previous search
                    results</h4>
            </div>
            <form role="form" action="/reset" method="POST" name="request" enctype="multipart/form-data">
                {{ reset_form.hidden_tag() }}
                <div class="modal-body">
                    <div class="form-group">
                        <label>Id</label>
                        <input class="form-control" type="text" name="reset_id" id="reset_id" readonly>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" name="reset_name" id="reset_name" readonly>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="reset_description" id="reset_description" rows="3"
                                  readonly></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_default" data-dismiss="modal">Cancel</button>
                    {{ del_form.submit }}
                    <input type="submit" class="btn btn_primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    setInterval(function() {
      window.location.reload();
    }, 30000);

</script>
{% endblock %}
