<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="/index">Home</a>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">View <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown">
                <a href="/index"><span data-toggle="tooltip" data-placement="left"
                                       title="list of datasets">Datasets</span></a>
            </li>
            <li class="dropdown">
                <a href="/folders"><span data-toggle="tooltip" data-placement="left"
                                       title="list of datasets">Folders</span></a>
            </li>
            <li class="dropdown">
                <a href="/textset_list"><span data-toggle="tooltip" data-placement="left"
                                              title="list of text sets">Text sets</span></a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">New <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown">
                <a href="/create"><span data-toggle="tooltip" data-placement="left"
                                        title="create new dataset">Dataset</span></a>
            </li>
            <li class="dropdown">
                <a href="/create_text"><span data-toggle="tooltip" data-placement="left"
                                             title="create new text set">Text set</span></a>
            </li>
            <li class="dropdown">
                <a href="/import"><span data-toggle="tooltip" data-placement="left"
                                        title="import datasets from a file description">Import</span></a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">

            <li class="dropdown">
                <a href="/monitor"><span data-toggle="tooltip" data-placement="left"
                                         title="monitor controller and workers">Monitor</span></a>
            </li>
            <li class="dropdown">
                <a href="/config"><span data-toggle="tooltip" data-placement="left"
                                        title="configuration set-up">Config</span></a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a target="_blank" href="http://automlk.readthedocs.io/en/latest/app.html">Help</a>
    </li>
</ul>
