{% extends "base.html" %}
{% block content %}

<h3>Monitor activity</h3>
<h4>Controller</h4>
    {% if controller|count > 0 %}
    {% for p in controller %}
    {% include "processes.html" %}
    {% endfor %}
    {% else %}
    <p><i>&nbsp;&nbsp;&nbsp;&nbsp;No controller found</i></p><br>
    {% endif %}
<h4>Worker graphs</h4>
    {% if grapher|count > 0 %}
    {% for p in grapher %}
    {% include "processes.html" %}
    {% endfor %}
    {% else %}
    <p><i>&nbsp;&nbsp;&nbsp;&nbsp;No grapher found</i></p><br>
    {% endif %}
<h4>Worker text sets</h4>
    {% if worker_text|count > 0 %}
    {% for p in worker_text %}
    {% include "processes.html" %}
    {% endfor %}
    {% else %}
    <p><i>&nbsp;&nbsp;&nbsp;&nbsp;No worker_text found</i></p><br>
    {% endif %}
<h4>{{ workers|count }} Workers</h4>
    {% if workers|count > 0 %}
    {% for p in workers %}
    {% include "processes.html" %}
    {% endfor %}
    {% else %}
    <p><i>&nbsp;&nbsp;&nbsp;&nbsp;No worker found</i></p>
    {% endif %}

<script>
    setInterval(function() {
      window.location.reload();
    }, 10000);

</script>

{% endblock %}