<h5>found in {{best|count}} models and {{n_searches}} configurations</h5>

<table class="table table-bordered">
    <thead>
    <th>process</th>
    <th style="vertical-align:top; text-align:center">cv</th>
    <th style="vertical-align:top; text-align:center">eval</th>
    <th style="vertical-align:top; text-align:center">test</th>
    <th style="vertical-align:top; text-align:center">other</th>
    <th style="vertical-align:top; text-align:center">#</th>
    <th style="vertical-align:top; text-align:center">duration</th>
    <th>params</th>
    </thead>
    {% for cat, best_cat_pp in best_pp %}
    <tr>
        <td colspan="9">
            <h4>{{ cat }}</h4>
        </td>
    </tr>
    {% for r in best_cat_pp %}
    <tr>
        {% set cat_link = "/details_pp/"+dataset.dataset_id+";"+r.cat_process %}
        <td width="15%">
            <a href="{{cat_link}}" style="text-decoration: none;">{{ r.cat_process}}</a>
            <div class="progress" style="height:8px">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     style="width:{{r.rel_score}}%">
                </div>
            </div>
        </td>
        <td style="text-align:center">
            <a href="{{cat_link}}"
               style="color:inherit; text-decoration: none;">{{print_score(r.cv_mean) }}<br>+/-{{
                print_score_std(r.cv_std) }}<br>
                {{print_score(r.cv_max) }}</a>
        </td>
        <td style="text-align:center">
            <a href="{{cat_link}}" style="color:inherit; text-decoration: none;">{{ print_score(r.score_eval) }}</a>
        </td>
        <td style="text-align:center">
            <a href="{{cat_link}}" style="color:inherit; text-decoration: none;">{{ print_score(r.score_test) }}</a>
        </td>
        <td width="15%">
            <a href="{{cat_link}}" style="color:inherit; text-decoration: none;">{{
                print_other_metrics(r.eval_other_metrics) }}</a>
        </td>
        <td style="text-align:center">
            <a href="{{cat_link}}" style="color:inherit; text-decoration: none;">{{ r.searches}}</a>
        </td>
        <td style="text-align:center">
            <a href="{{cat_link}}" style="color:inherit; text-decoration: none;">
                {{print_duration(r.duration_process) }}<br>{{print_duration(r.duration_model) }}
            </a>
        </td>
        <td>
            <a href="{{cat_link}}" style="color:inherit; text-decoration: none;">{{ print_params(r.cat_params) }}</a>
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
