{% extends "base.html" %}
{% block content %}
<h3><a href="/">Home</a> > <a href="/dataset/{{dataset.dataset_id}}#models">{{dataset.name}}</a> > <a
        href="/details/{{dataset.dataset_id}};{{round.model_name}}">{{ round.model_name }}</a> > <span
        style="font-size:20px">{{ round.round_id }}</span></h3>
<h5>{{ round.uiid }}</h5>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#data">
        <span data-toggle="tooltip" data-placement="left" title="round info">
            <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></li>
    <li><a data-toggle="tab" href="#process">
        <span data-toggle="tooltip" data-placement="left" title="pre-processing steps">
            <i class="fa fa-tasks" aria-hidden="true"></i></span></a></li>
    <li><a data-toggle="tab" href="#features">
        <span data-toggle="tooltip" data-placement="left" title="feature importance">
            <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>&nbsp;Imp</span></a></li>
    <li><a data-toggle="tab" href="#pred_graph">
        <span data-toggle="tooltip" data-placement="left" title="prediction versus actuals">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Pred</span></a></li>
    <li><a data-toggle="tab" href="#hist_graph">
        <span data-toggle="tooltip" data-placement="left" title="prediction histogram">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Hist</span></a></li>
    {% if dataset.filename_submit != '' %}
    <li><a data-toggle="tab" href="#submit">Submit</a></li>
    {% endif %}
</ul>

<div class="tab-content">
    <div id="data" class="tab-pane active">
        <h4>Round info</h4>
        <table class="table table-bordered">
            <th>round data</th>
            <th>parameters</th>
            <tr>
                <td width="50%">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td>cv</td>
                            <td>{{ print_score(round.cv_mean) }} +/- {{ print_score(round.cv_std) }}, {{
                                print_score(round.cv_max) }}
                            </td>
                        </tr>
                        <tr>
                            <td>score eval</td>
                            <td>{{ print_score(round.score_eval) }}</td>
                        </tr>
                        <tr>
                            <td>score test</td>
                            <td>{{ print_score(round.score_test) }}</td>
                        </tr>
                        <tr>
                            <td>eval metrics</td>
                            <td>{{ print_other_metrics(round.eval_other_metrics) }}</td>
                        </tr>
                        <tr>
                            <td>test metrics</td>
                            <td>{{ print_other_metrics(round.test_other_metrics) }}</td>
                        </tr>
                        <tr>
                            <td>model</td>
                            <td>{{ round.model_name }}</td>
                        </tr>
                        <tr>
                            <td>time</td>
                            <td>{{ round.start_time }}</td>
                        </tr>
                        <tr>
                            <td>pre-processing duration</td>
                            <td>{{ print_duration(round.duration_process ) }}</td>
                        </tr>
                        <tr>
                            <td>modeling duration</td>
                            <td>{{ print_duration(round.duration_model) }}</td>
                        </tr>
                        <tr>
                            <td>host</td>
                            <td>{{ round.host_name }}</td>
                        </tr>
                        <tr>
                            <td>round_id</td>
                            <td>{{ round.round_id }}</td>
                        </tr>
                        <tr>
                            <td>model level</td>
                            <td>{{ round.level }}</td>
                        </tr>
                        <tr>
                            <td>pre-processing</td>
                            <td width="70%">{{ round.pipeline }}</td>
                        </tr>
                        <tr>
                            <td>params</td>
                            <td>{{ round.model_params }}</td>
                        </tr>
                    </table>
                </td>
                <td width="50%">
                    <table class="table table-bordered table-striped table-hover">
                        {% for col in cols %}
                        <tr>
                            <td>{{ col }}</td>
                            <td>{{params[col]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <!-- process steps !-->
    <div id="process" class="tab-pane">
        <h4>Pre-processing steps</h4>
        {% for step in pipeline %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="label label-primary">{{ step[1] }}</span>&nbsp;&nbsp;{{ step[2] }}
            </div>
            <div class="panel-body">
                {{ print_params(step[3]) }}
            </div>
        </div>
        {% endfor %}

    </div>

    <!-- feature importance with progress bars !-->
    <div id="features" class="tab-pane">
        <h4>Feature importance</h4>
        <table class="table table-bordered">
            <thead>
            <th>feature</th>
            <th>importance</th>
            <th></th>
            </thead>
            {% for f in features %}
            <tr>
                <td width="20%">{{ f["feature"] }}</td>
                <td width="20%">{{ f["pct_importance"] }}</td>
                <td width="60%" style="vertical-align:bottom">
                    <div class="progress" style="height:10px">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             style="width:{{ f.rel_importance }}%">
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- prediction graph !-->
    <div id="pred_graph" class="tab-pane">
        <h4>Predictions</h4>
        <a href="/get_predict/{{dataset.dataset_id}}/{{round.round_id}}">Download predict file</a>
        <br>
        {% if dataset.problem_type == 'regression' %}
        <table>
            <tr>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/predict_eval?{{refresher}}"></img>
                </td>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/predict_test?{{refresher}}"></img>
                </td>
            </tr>
        </table>
        {% else %}
        {% if dataset.y_n_classes < 5 %}
        <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/predict_eval?{{refresher}}"></img>
        <br>
        <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/predict_test?{{refresher}}"></img>
        {% else %}
        <!-- confusion matrix as table !-->
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <th></th>
                <th colspan="{{ y_names|count }}" style="vertical-align:top; text-align:center;">Predicted</th>
                </thead>
                <thead>
                <th style="vertical-align:top; text-align:center">Actual</th>
                {% for name in y_names %}
                <th style="vertical-align:top; text-align:center; text-orientation:upright; writing-mode:vertical-rl;">
                    {{ name }}
                </th>
                {% endfor %}
                </thead>

                {% for x in range(y_names|count) %}
                <tr>
                    <td style="vertical-align:top; text-align:center">{{ y_names[x] }}</td>
                    {% for y in range(y_names|count) %}
                    <td style="vertical-align:top; text-align:center">
                        {% if cnf_matrix[x, y] != 0 %}
                        <span class="label {% if x == y %}label-success{% else %}label-warning{% endif %}">{{ cnf_matrix[x, y] }}</span>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% endif %}
    </div>

    <!-- histograms !-->
    <div id="hist_graph" class="tab-pane">
        <br>
        <table>
            <tr>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/hist_eval?{{refresher}}"></img>
                </td>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/hist_test?{{refresher}}"></img>
                </td>
            </tr>
        </table>
    </div>
    <!-- submit file -->
    <div id="submit" class="tab-pane">
        <h4>Submit file</h4>
        <br>
        <a href="/get_submit/{{dataset.dataset_id}}/{{round.round_id}}">Download submit file</a>
    </div>
</div>
{% endblock %}

