{% extends "base.html" %}
{% block content %}
<script src="https://www.w3schools.com/lib/w3.js"></script>
<h3><a href="/">Home</a> > <a href="/dataset/{{dataset.dataset_id}}#models">{{dataset.name}}</a> > <a
        href="/details/{{dataset.dataset_id}};{{round.model_name}}">{{ round.model_name }}</a> > <span
        style="font-size:20px">{{ round.round_id }}</span></h3>
<h5>{{ round.uiid }}</h5>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#data">
        <span data-toggle="tooltip" data-placement="left" title="round info">
            <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></li>
    <li><a data-toggle="tab" href="#process">
        <span data-toggle="tooltip" data-placement="left" title="pre-processing steps">
            <i class="fa fa-tasks" aria-hidden="true"></i></span></a></li>
    <li><a data-toggle="tab" href="#features">
        <span data-toggle="tooltip" data-placement="left" title="feature importance">
            <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>&nbsp;Imp</span></a></li>
    <li><a data-toggle="tab" href="#explain">
        <span data-toggle="tooltip" data-placement="left" title="explain">
           <i class="fa fa-search-plus" aria-hidden="true"></i></span></a></li>
    <li><a data-toggle="tab" href="#pred_graph">
        <span data-toggle="tooltip" data-placement="left" title="prediction versus actuals">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Pred</span></a></li>
    <li><a data-toggle="tab" href="#hist_graph">
        <span data-toggle="tooltip" data-placement="left" title="prediction histogram">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Hist</span></a></li>
    <li><a data-toggle="tab" href="#other"><i class="fa fa-files-o"></i></a></li>
    <li><a data-toggle="tab" href="#downloads">
        <span data-toggle="tooltip" data-placement="left" title="download files">
            <i class="fa fa-download" aria-hidden="true"></i></span></a></li>
</ul>

<div class="tab-content">
    <div id="data" class="tab-pane active">
        <h4>Round info</h4>
        <table class="table table-bordered">
            <th>round data</th>
            <th>parameters</th>
            <tr>
                <td width="50%">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td>cv</td>
                            <td>{{print_score(round.cv_mean) }}&nbsp;{% if round.cv %}+/-{{ print_score_std(round.cv_std) }}&nbsp;
                                {{print_score(round.cv_max) }}{% else %}&nbsp;(1 fold)</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>score eval</td>
                            <td>{{print_score(round.score_eval) }}{% if round.pct < 1 %}&nbsp;
                                ({{(round.pct*100)|int}} %){% endif %}</td>
                        </tr>
                        <tr>
                            <td>score test</td>
                            <td>{{ print_score(round.score_test) }}</td>
                        </tr>
                        <tr>
                            <td>eval metrics</td>
                            <td>{{ print_other_metrics(round.eval_other_metrics) }}</td>
                        </tr>
                        <tr>
                            <td>test metrics</td>
                            <td>{{ print_other_metrics(round.test_other_metrics) }}</td>
                        </tr>
                        <tr>
                            <td>model</td>
                            <td>{{ round.model_name }}</td>
                        </tr>
                        <tr>
                            <td>time</td>
                            <td>{{ round.start_time }}</td>
                        </tr>
                        <tr>
                            <td>pre-processing duration</td>
                            <td>{{ print_duration(round.duration_process ) }}</td>
                        </tr>
                        <tr>
                            <td>modeling duration</td>
                            <td>{{ print_duration(round.duration_model) }}</td>
                        </tr>
                        <tr>
                            <td>host</td>
                            <td>{{ round.host_name }}</td>
                        </tr>
                        <tr>
                            <td>round_id</td>
                            <td>{{ round.round_id }}</td>
                        </tr>
                        <tr>
                            <td>model level</td>
                            <td>{{ round.level }}</td>
                        </tr>
                        <tr>
                            <td>pre-processing</td>
                            <td width="70%">{{ round.pipeline }}</td>
                        </tr>
                        <tr>
                            <td>params</td>
                            <td>{{ round.model_params }}</td>
                        </tr>
                    </table>
                </td>
                <td width="50%">
                    <table class="table table-bordered table-striped table-hover">
                        {% for col in cols %}
                        <tr>
                            <td>{{ col }}</td>
                            <td>{{params[col]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <!-- process steps !-->
    <div id="process" class="tab-pane">
        <h4>Pre-processing steps</h4>
        {% for step in pipeline %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="label label-primary">{{ step[1] }}</span>&nbsp;&nbsp;{{ step[2] }}
            </div>
            <div class="panel-body">
                {{ print_params(step[3]) }}
            </div>
        </div>
        {% endfor %}

    </div>

    <!-- explain like I'm five !-->
    <div id="explain" class="tab-pane">
        <h3>Explain</h3>
        <div w3-include-html="/get_explain/{{dataset.dataset_id}}/{{round.round_id}}?{{refresher}}"></div>
    </div>
    <!-- feature importance with progress bars !-->
    <div id="features" class="tab-pane">
        <h4>Feature importance</h4>
        <table class="table table-bordered">
            <thead>
            <th>feature</th>
            <th>importance</th>
            <th></th>
            </thead>
            {% for f in features %}
            <tr>
                <td width="20%">{{ f["feature"] }}</td>
                <td width="20%">{{ f["pct_importance"] }}</td>
                <td width="60%" style="vertical-align:bottom">
                    <div class="progress" style="height:10px">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             style="width:{{ f.rel_importance }}%">
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- prediction graph !-->
    <div id="pred_graph" class="tab-pane">
        <br>
        {% if dataset.problem_type == 'regression' %}
        <table>
            <tr>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/predict_eval?{{refresher}}"></img>
                </td>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/predict_test?{{refresher}}"></img>
                </td>
            </tr>
        </table>
        {% else %}
        {% if dataset.y_n_classes <= 10 %}
        <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/predict_eval?{{refresher}}"></img>
        <br>
        <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/predict_test?{{refresher}}"></img>
        {% else %}
        <!-- confusion matrix as sparse table !-->
        <div>
            <br>
            <table class="table table-bordered table-hover">
                <thead>
                <th>Actual</th>
                <th>Predicted</th>
                <th style="vertical-align:top; text-align:center">Count</th>
                <th style="vertical-align:top; text-align:center">%</th>
                </thead>
                {% for x in range(y_names|count) %}
                <tr>
                    <td colspan="4"><h4>{{y_names[x]}}</h4></td>
                </tr>
                {% for y in range(y_names|count) %}
                {% if cnf_matrix[x, y] != 0 %}
                <tr>
                    <td width="20%"></td>
                    <td width="40%"><h4 style="{% if x != y %}color:orange{% endif %}">{{y_names[y]}}</h4></td>
                    >
                    </td>
                    <td style="vertical-align:top; text-align:center">
                        <h5 style="{% if x != y %}color:orange{% endif %}">{{ cnf_matrix[x, y] }}</h5>
                    </td>
                    <td style="vertical-align:top; text-align:center">{{ print_rounded(100 * cnf_matrix[x, y] /
                        sums_matrix[x], 1) }} %
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% endif %}
    </div>

    <!-- histograms !-->
    <div id="hist_graph" class="tab-pane">
        <br>
        <table>
            <tr>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/hist_eval?{{refresher}}"></img>
                </td>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}}/{{round.round_id}}/hist_test?{{refresher}}"></img>
                </td>
            </tr>
        </table>
    </div>
    <!-- launch this round on another dataset -->
    <div id="other" class="tab-pane">
        <h4>Apply this round parameters for searching on another dataset</h4>
        <br>
        <form action="" method="post" name="dupplicate"
              enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="form-group">
                <label>Target dataset</label>
                {{ form.dataset(class="form-control")}}
            </div>
            <div class="form-group">
                <label>Search params</label>
                {{ form.round(class="form-control", rows="10")}}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
    <!-- submit file -->
    <div id="downloads" class="tab-pane">
        <h3>Downloads</h3>
        <br>
        <h5>Predictions</h5>
        <a href="/get_predict/{{dataset.dataset_id}}/{{round.round_id}}">Download file</a>
        <br>
        <br>
        <h5>Full pipeline (pickle)</h5>
        <a href="/get_pipeline/{{dataset.dataset_id}}/{{round.round_id}}">Download file</a>
        <br>
        <br>
        <h5>Model only (pickle)</h5>
        <a href="/get_model/{{dataset.dataset_id}}/{{round.round_id}}">Download file</a>
        {% if dataset.mode == 'competition' %}
        <br>
        <br>
        <h5>Train set</h5>
        <a href="/get_train_set/{{dataset.dataset_id}}">Download file</a>
        <br>
        <br>
        <h5>Dataset (json)</h5>
        <a href="/get_dataset_json/{{dataset.dataset_id}}">Download file</a>
        <br>
        <br>
        <h5>Model (json)</h5>
        <a href="/get_model_json/{{dataset.dataset_id}}/{{round.round_id}}">Download file</a>
        <br>
        <br>
        <h5>Submit file</h5>
        <a href="/get_submit/{{dataset.dataset_id}}/{{round.round_id}}">Download file</a>
        {% endif %}
    </div>
</div>

<script>
w3.includeHTML();

</script>

{% endblock %}

