{% extends "base.html" %}
{% block content %}
<h3>List of Datasets</h3>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <th>name</th>
    <th>description</th>
    <th>source</th>
    <th>problem</th>
    <th>records</th>
    <th>features</th>
    </thead>
    {% for dataset in datasets %}
    <tr>
        <td width="20%">
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{ dataset.name}}</a>
        </td>
        <td>
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{ dataset.description[:300]}}...</a>
        </td>
        <td wdth="10%">
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{ dataset.source}}</a>
        </td>
        <td wdth="10%">
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{ dataset.problem_type}}</a>
        </td>
        <td wdth="10%">
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{ dataset.n_rows}}K</a>
        </td>
        <td wdth="10%">
            <a href="/dataset/{{dataset.dataset_id}}" style="color:inherit; text-decoration: none;">{{ dataset.n_cols}}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
