{% extends "base.html" %}
{% block content %}
<h3><a href="/">Home</a> > <a href="/dataset/{{dataset.dataset_id}}#models">{{dataset.name}}</a> > <a
        href="/details/{{dataset.dataset_id}};{{round.model_name}}">{{ round.model_name }}</a> > <span
        style="font-size:20px">{{ round.round_id }}</span></h3>
<h5>{{ round.uiid }}</h5>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#data">Parameters</a></li>
    <li><a data-toggle="tab" href="#process">Pre-processing</a></li>
    <li><a data-toggle="tab" href="#features">Features</a></li>
    <li><a data-toggle="tab" href="#pred_graph">Prediction Graph</a></li>
    <li><a data-toggle="tab" href="#hist_graph">Histogram</a></li>
</ul>

<div class="tab-content">
    <div id="data" class="tab-pane active">
        <table class="table table-bordered">
            <th>round data</th>
            <th>parameters</th>
            <tr>
                <td width="50%">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td>score eval</td>
                            <td>{{ print_score(round.score_eval) }}</td>
                        </tr>
                        <tr>
                            <td>score test</td>
                            <td>{{ print_score(round.score_test) }}</td>
                        </tr>
                        <tr>
                            <td>cv</td>
                            <td>{{ print_score(round.cv_mean) }} +/- {{ print_score(round.cv_std) }}</td>
                        </tr>
                        <tr>
                            <td>eval metrics</td>
                            <td>{{ print_other_metrics(round.eval_other_metrics) }}</td>
                        </tr>
                        <tr>
                            <td>test metrics</td>
                            <td>{{ print_other_metrics(round.test_other_metrics) }}</td>
                        </tr>
                        <tr>
                            <td>model</td>
                            <td>{{ round.solution_name }}</td>
                        </tr>
                        <tr>
                            <td>time</td>
                            <td>{{ round.start_time }}</td>
                        </tr>
                        <tr>
                            <td>pre-processing duration</td>
                            <td>{{ print_duration(round.duration_process ) }}</td>
                        </tr>
                        <tr>
                            <td>modeling duration</td>
                            <td>{{ print_duration(round.duration_model) }}</td>
                        </tr>
                        <tr>
                            <td>rounds</td>
                            <td>{{ round.num_rounds }}</td>
                        </tr>
                        <tr>
                            <td>host</td>
                            <td>{{ round.host_name }}</td>
                        </tr>
                        <tr>
                            <td>round_id</td>
                            <td>{{ round.round_id }}</td>
                        </tr>
                        <tr>
                            <td>model level</td>
                            <td>{{ round.level }}</td>
                        </tr>
                        <tr>
                            <td>pre-processing</td>
                            <td>{{ round.process_steps }}</td>
                        </tr>
                        <tr>
                            <td>params</td>
                            <td>{{ round.model_params }}</td>
                        </tr>
                    </table>
                </td>
                <td width="50%">
                    <table class="table table-bordered table-striped table-hover">
                        {% for col in cols %}
                        <tr>
                            <td>{{ col }}</td>
                            <td>{{params[col]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- process steps !-->
    <div id="process" class="tab-pane">
        {% for step in steps %}
        <h4><i class="fa fa-th" aria-hidden="true"></i> {{ step[0] }}</h4>
        <table class="table table-bordered">
            {% for p in step[1] %}
            <tr>
                <td width="30%">{{ p[0] }}</td>
                <td>{{ p[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    <!-- feature importance with progress bars !-->
    <div id="features" class="tab-pane">
        <table class="table table-bordered">
            <thead>
            <th>feature</th>
            <th>importance</th>
            <th></th>
            </thead>
            {% for f in features %}
            <tr>
                <td width="20%">{{ f["feature"] }}</td>
                <td width="20%">{{ f["pct_importance"] }}</td>
                <td width="60%" style="vertical-align:bottom">
                    <div class="progress" style="height:10px">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             style="width:{{ f.rel_importance }}%">
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- prediction graph !-->
    <div id="pred_graph" class="tab-pane">
        <img src="/get_img_round/{{dataset.dataset_id}};{{round.round_id}};predict_eval?{{refresher}}"></img>
        <img src="/get_img_round/{{dataset.dataset_id}};{{round.round_id}};predict_test?{{refresher}}"></img>
    </div>
    <!-- prediction graphs !-->
    <div id="hist_graph" class="tab-pane">
        <br>
        <table>
            <tr>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}};{{round.round_id}};hist_eval?{{refresher}}"></img>
                </td>
                <td>
                    <img src="/get_img_round/{{dataset.dataset_id}};{{round.round_id}};hist_test?{{refresher}}"></img>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

